<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in, possimus neque corporis suscipit ad ullam odit ex aliquam repellat asperiores facilis tempore voluptas atque dolore architecto eius. Porro, inventore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in, possimus neque corporis suscipit ad ullam odit ex aliquam repellat asperiores facilis tempore voluptas atque dolore architecto eius. Porro, inventore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id in, possimus neque corporis suscipit ad ullam odit ex aliquam repellat asperiores facilis tempore voluptas atque dolore architecto eius. Porro, inventore.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>